pkgbase = r8125-dkms
	pkgdesc = Kernel module for RTL8125
	pkgver = 9.011.00
	pkgrel = 2
	url = https://www.realtek.com/en/component/zoo/category/network-interface-controllers-10-100-1000m-gigabit-ethernet-pci-express-software
	arch = any
	license = GPL2
	depends = dkms
	optdepends = linux-headers: Build the module for Arch kernel
	optdepends = linux-lts-headers: Build the module for LTS Arch kernel
	conflicts = r8125
	source = http://rtitwww.realtek.com/rtdrivers/cn/nic1/r8125-9.011.00.tar.bz2
	source = dkms.conf
	source = aspm_rx_tx.patch
	source = throughput.patch
	sha256sums = 01fbdb249b7ba2984df93a4bd11aecddd1ed904c6be10fc5d776e94b3110b2bf
	sha256sums = 22c992e6a38176c5cd1912dd98a48a11c1359dcea4e642c7f70a832f8c5cfd7b
	sha256sums = b7147c728b3f42a56c96b0d1937906f63634d6ef83b33c0357f48639f1259290

pkgname = r8125-dkms
